*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 800px;
    /* border: 1px solid red; */
    margin: 0 auto;
}
img{
    height: 150px;
    width: 150px;
}
.flex{
    display: flex;
}
.meals{
   margin-top: 10px;
   justify-content: center;
   align-items: center;
   
   /* border: 1px solid red; */
}
.single-meal{
    /* border: 1px solid green; */
    margin-right: 20px;
    box-shadow: 5px 5px 10px gray;
}
.container input{
    width: 500px;
    height: 30px;
    margin-left: 50px;
    text-align: center;
    
}
.container button{
    height: 30px;
    width: 100px;
    color: honeydew;
    background: tomato;
    
}
.container input,button{
    margin-top: 20px;
    font-size: 25px;
    margin-bottom: 20px;
   
}
.displayIngredient{
    width:500px;
    height: 500px;
    box-shadow: 10px 5px 10px gray;
}